#main-header {
  width: 85vw;
  height: 20vh;
  background-color: rgb(0, 128, 128);
  /* background-color: rgb(0, 128, 128); */
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

#sort-form {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height: auto;
}

#sort-form > label:hover {
  cursor: pointer;
}

#sort-form > label > input:hover {
  cursor: pointer;
}

#search-bar-form {
  display: flex;
  flex-flow: column nowrap;
  width: 20vw;
  justify-content: space-evenly;
}

#search-bar-form > div > input[type=button]:hover {
  cursor: pointer;
}

#new-task-btn {
  width: 9vw;
  height: 5vh;
  background-color: green;
  border-radius: 6px;
  color: white;
  font-weight: 700;
}

#show-tasks-btn {
  width: 9vw;
  height: 5vh;
  background-color: rgb(18, 121, 218);
  border-radius: 6px;
  color: white;
  font-weight: 700;
  margin-left: 1vw;
}

#search-bar {
  width: 16vw;
  height: 5vh;
  border-radius: 3px;
}

#search-btn {
  width: 3vw;
  height: 5vh;
}

#xablutton {
  background-color: red;
}